/*
  The asterisk selector (*) applies your style rules to ALL elements.

  By default, the browser applies the box-sizing:content-box; rule to all
  elements.

  We want to use the box-sizing:borer-box; rule instead. So to overwrite the
  default rule, we'll use the asterisk selector to select ALL the elements.
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}



/*
  == BASE STYLES ==

  Applying a few base style rules to make the page look a little nicer.
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0 0 16px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  margin-bottom: 32px;
}

section h2 {
  margin: 0 0 12px;
}



/*
  == STYLING THE NAV ==

  Intro to floats. Moving the title to the left and the list items to the right.
*/

.nav-bar {
  background-color: #333;
  color: white;
  overflow: hidden;
  height: 60px;
  padding: 0 30px;
}

.title {
  margin: 0;
  float: left;
  line-height: 60px;
}


.nav-list {
  float: right;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  display: inline;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 12px;
}


/*
  == STYLING THE LAYOUT ==

  Creating a basic layout:
    - Header on the top, spanning all the way across the page
    - Aside on the left side, taking up 35% width
    - Main on the right side, taking up 65% width
    - Footer on the bottom, spanning all the way across the page
*/

aside {
  width: 35%;
  background-color: #ccc;
  float: left;
  height: 100%;
  padding: 30px;
}

main {
  width: 65%;
  float: left;
  height: 100%;
  padding: 30px;
}

.container {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.spidey-pic {
  width: 100%;
}

.img-container {
  width: 100%;
  background-color: white;
  border-radius: 50%;
  border: 5px solid #333;
  margin-bottom: 30px;
}

.tagline {
  background-color: rgb(34, 167, 240);
  padding: 15px;
}


/*
  == STYLING THE FOOTER ==

  Similar to the navbar, we want to pull some elements to the left side and
  some other elements to the right.
*/
