<h1>Monsters</h1>

<%= form_tag monsters_path, method: :get, id: 'search-form' do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>

<ul id="monsters">
  <%= render @monsters %>
</ul>
